<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Lunar Mods</title>
    <link rel="stylesheet" href="~/lib/bootstrap-markdown-editor/dist/css/bootstrap-markdown-editor.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/resource/icon.png" alt="Icon" height="30"/>
                LunarMods
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Mod" asp-action="Index">Mods</a>
                    </li>
                    @if (User.IsInRole("uploader"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Mod" asp-action="Create">Create</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="row mt-4">
            @RenderBody()
        </div>
    </main>
</div>

<footer class="border-top border-secondary text-secondary footer mt-auto">
    <div class="container my-1">
        <div class="row justify-content-between">
            <div class="col-md-auto">
                &copy; 2023 - Made by <a class="link-secondary" href="https://github.com/Aeroluna">Aeroluna</a>
            </div>
            <div class="col-md-auto">
                <a class="link-secondary" href="@Url.Action("Disclaimer", "Home")">Disclaimer</a>
                <a class="link-secondary" href="@Url.Action("Terms", "Home")">Terms of Service</a>
                <a class="link-secondary" href="@Url.Action("Privacy", "Home")">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
